#root {
  max-width: 1280px;
  margin: 0 auto;
}

.search {
  position: sticky;
  z-index: 10;
  top: 0;
  color: #f9f9f9;
  background-color: darkgrey;
  padding: 0.5em 1em;
}

.search > label {
  font-size: 1.2em;
  margin-right: 1em;
}

.search > input {
  border: 1px solid black;
  height: 1.5em;
}
